body{
    font-size: 14px;
    font-weight: 300;
    font-family:'Montserrat';
    color:$grey-2;
}

h1,h2,h3,h4,h5,h6{
    color: $black-1;
    font-family: 'Montserrat';
    font-weight: 600;
    margin-top: 0;
}
p{
    line-height: 26px;
}

