$color-list: (
        white:#fff,
        yellow-1: #FFC000,
        yellow-2: #E5AC00,
        black-1: #2E3841,
        black-2: #2A333B,
        green-1: #9DC835,
        green-2: #87AC2D,
        turquoise-1: #3EC0A3,
        turquoise-2: #269C82,
        blue-1: #4C9ECD,
        blue-2: #2C7BA9,
        violet-1: #AA6BD2,
        violet-2: #8145A7,
        grey-1: #8D8D8D,
        grey-2: #B0B0B0,
        grey-3: #B3BDC7,
        grey-4: #EAEAEA,
        grey-5: #F4F4F4,
        grey-6: #b7b7b7,
        grey-7: #464646,
        success: #2da530,
    //alert color
        success-bg: #caf5cb,
        danger: #c64747,
        danger-bg: #ffe0e0,
        warning: #e7b300,
        warning-bg: #fff2cb,
        default: #636363,
        default-bg: #eaeaea,
);
$white: #fff;

$yellow-1: #FFC000;
$yellow-2: #E5AC00;

$black-1: #2E3841;
$black-2: #2A333B;

$green-1: #9DC835;
$green-2: #87AC2D;

$turquoise-1: #3EC0A3;
$turquoise-2: #269C82;

$blue-1: #4C9ECD;
$blue-2: #2C7BA9;

$violet-1: #AA6BD2;
$violet-2: #8145A7;

$grey-1: #8D8D8D;

$grey-2: #B0B0B0;

$grey-3: #B3BDC7;

$grey-4: #EAEAEA;

$grey-5: #F4F4F4;
$grey-6: #b7b7b7;
$grey-7: #464646;
$grey-8: #d7d7d7;

$red: #e32c2c;

//alert color
$success: #2da530;
$success-bg: #caf5cb;
$danger: #c64747;
$danger-bg: #ffe0e0;
$warning: #e7b300;
$warning-bg: #fff2cb;
$default: #636363;
$default-bg: #eaeaea;
