$micro_space: 10px;
$macro_space: 30px;
$tiny_space: 3px;
$small_space: $tiny_space * 2;
$medium_space: $tiny_space * 4;
$medium_more_space: $tiny_space *6;
$larger_space: $tiny_space * 8;
$huge_space: $tiny_space * 20;

$mobile_width : 480px;
$tablet_landscape_width : 992px;
$tablet_portrait_width : 768px;
$pc_width : 1200px;